.description {
    color: darkgrey;
    text-align: justify;
    padding: 3%;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.finalPrice {
  font-size: 22px;
  padding-left: 10%;
}

.oldPrice{
  color: hsl(220, 14%, 75%);
  text-decoration: line-through;
  margin-left: 10%;
}

.discount{
  border: 3px hsl(25, 100%, 94%) solid;
  border-radius: 10px;
  background-color:hsl(25, 100%, 94%);
  margin-left: 10px;
  color:hsl(26, 100%, 55%);
}

.price{
  display: flex;
  align-items: center;
}

@media (max-width: 992px){
    .oldPrice{
        margin-left: auto;
    }
    .finalPrice{
      padding-left: 3%;
    }
}

.img-fluid{
  border-radius: 25px;
}

.mini-images{
  width: 100px;
  height: 100px;
  margin: 10px;
  border-radius: 15px;
}

.mini-images:hover{
  opacity: 0.5;
}

.totalPrice{
  padding-left: 6%;
  font-size: 20px;
}

em{
  font-weight: bold;
  color:hsl(26, 100%, 55%);
}