<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
    <ion-title id="titulo" size="large">INGRESAR</ion-title>
  <div id="container">
    <div id="figure">
    <ion-item>
      <ion-label id="email" position="floating">Email</ion-label>
      <ion-textarea placeholder="Ingrese su email..."></ion-textarea>
    </ion-item>
    <hr>
    <ion-item>
      <ion-label id="contra" position="floating">Contraseña</ion-label>
      <ion-textarea placeholder="Ingrese su contraseña..."></ion-textarea>
    </ion-item>
    </div>
    <br>
    <div id= "boton">
    <ion-button routerLink='/menu' color="secondary">Ingresar</ion-button>
    </div>
    <br>
    <div>
    <a routerLink="/forgotpsw">¿Olvidaste tu contraseña?</a>
    </div>
    <br>
    <div>
      <a routerLink ="/signup">¡Registrate!</a>
    </div>
  </div>
</ion-content>