* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h5,
h3 {
  text-align: center;
}

.box {
  border-radius: 10px;
  min-height: 2.5rem;
  background-color: #f9d9e8;
  margin: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexbox-container {
  display: flex;
}

.git-container {
  flex-wrap: wrap;
  justify-content: center;
}

.git-item {
  background-color: #c9e2fa;
  width: 33.3%;
}

.html-container {
  align-items: center;
  flex-direction: column;
}

.html-item {
  background-color: #d1fac9;
  width: 40%;
}

.css-container > div {
  width: 33.3%;
}

.box.card {
  flex-direction: column;
  padding: 2rem;
}
