<br>
<div class="flexbox-container productlist-container">
    <div class="product-items">
        <ul class="list-group">
            <a class="list-group-item" 
            *ngFor="let product of products; let i = index"
            >{{product.name}} , "{{product.desc}}" , ({{product.amount}})
            <a href="product-list/{{product.slug}}"><button class="btn btn-secondary" (click)="enviarNombreProducto(product)">See Product Information</button></a>
            <hr>
            <p *ngIf="product.amount != 0">¿Do you want to add {{ProductAmount[i]}} of {{product.name}}?</p>
            <p *ngIf="product.amount == 0">OUT OF STOCK</p> 
            <div class="col-xs-12">
                <div class="input-group">
                    <input [(ngModel)]="ProductAmount[i]" type="number" class="form-control"  *ngIf="product.amount > ProductAmount[i]" placeholder="Ingrese la cantidad deseada de producto">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" *ngIf="(product.amount >= 1 && ProductAmount[i] >= 0) && ((product.amount - ProductAmount[i]) >= 0)" (click)="[enviarNumeroProducto(ProductAmount[i]), restarProducto(product.name, ProductAmount[i])]">Add {{ProductAmount[i]}} Products</button>
                    </span>
                </div>
            </div>
            <br><br>      
            </a>
        </ul>
    </div>
</div>
