<div class="container">
    <div class="row">
        <nav class="navbar navbar-expand-lg">
            <div class="navbar-brand">
                <a class="ms-auto" href="#">
                    <img class="logo" src="assets/logo.svg">
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item">
                    <a class="nav-link" href="#">Collections</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <div class="dropdown ms-auto">
                <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" 
                aria-haspopup="true" aria-expanded="false">
                    <img src="assets/icon-cart.svg">
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Cart</a>
                    <div class="dropdown-divider"></div>
                </div>
            </div>
            <div class="dropdown">
                <a class="nav-link" href="#" id="navbarDropdownUser" role="button" data-bs-toggle="dropdown" 
                aria-haspopup="true" aria-expanded="false">
                    <img id="user" src="assets/image-avatar.png">
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownUser">
                    <a class="dropdown-item" href="#">Cart</a>
                    <div class="dropdown-divider"></div>
                </div>
            </div>
        </nav>
    </div>
</div>
