<div class="container">
    <div class="product-items">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let item of products; let i = index">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-8">
                            <app-product-info [item] = 'item'></app-product-info>
                        </div>
                        <div class="col-lg-4">
                            <app-add-product-button [products]="products" [shoppingCart] = 'shoppingCart' [item] = 'item' [i] = 'i'></app-add-product-button>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>